a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,main,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video
{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
	vertical-align: baseline;
}
article,aside,details,fieldset,figcaption,figure,footer,form,header,hgroup,main,menu,nav,section
{
	display: block;
}
body,html
{
	webkit-text-size-adjust: 100%;
}
*,::after,::before
{
	background-repeat: no-repeat;
	box-sizing: border-box;
	moz-osx-font-smoothing: grayscale;
	webkit-box-sizing: border-box;
	webkit-font-smoothing: antialiased;
}
ol,ul
{
	list-style: none;
}
blockquote,q
{
	quotes: none;
}
blockquote:after,blockquote:before,q:after,q:before
{
	content: '';
}
table
{
	border-collapse: collapse;
	border-spacing: 0;
}
label
{
	cursor: pointer;
	display: block;
	moz-user-select: none;
	ms-user-select: none;
	user-select: none;
	webkit-tap-highlight-color: transparent;
	webkit-user-select: none;
}
button,input,textarea
{
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	display: block;
	webkit-appearance: none;
	webkit-border-radius: 0;
	webkit-box-shadow: none;
}
input::-ms-reveal
{
	display: none;
}
input::-ms-clear
{
	display: none;
}
textarea
{
	outline: 0;
	resize: none;
}
button
{
	background: 0 0;
	cursor: pointer;
	padding: 0;
}
button:disabled
{
	cursor: not-allowed;
}
button,input
{
	webkit-tap-highlight-color: transparent;
}
button:focus,input:focus
{
	outline: 0;
}
select
{
	border: 0;
	border-radius: 0;
	box-shadow: none;
	color: inherit;
	outline: 0;
	overflow: hidden;
	webkit-border-radius: 0;
	webkit-box-shadow: none;
}
select::-ms-value
{
	background: 0 0;
	color: inherit;
}
select::-ms-expand
{
	background-color: transparent;
	border: none;
	display: none;
}
select:-moz-focusring
{
	color: transparent;
	text-shadow: 0 0 0 #000;
}
abbr[title],acronym[title]
{
	text-decoration: none;
}
a
{
	color: inherit;
	outline: 0;
	text-decoration: none;
	webkit-tap-highlight-color: transparent;
}
[tabindex],a,area,button,input,label,select,summary,textarea
{
	ms-touch-action: manipulation;
	touch-action: manipulation;
}
a,abbr,acronym,address,applet,article,aside,audio,big,blockquote,body,canvas,caption,center,cite,code,dd,details,dfn,div,dl,dt,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,samp,section,span,summary,table,tbody,td,tfoot,th,thead,time,tr,ul,var,video
{
	border: 0;
	font: inherit;
	font-size: 100%;
	margin: 0;
	padding: 0;
}
ol,ul
{
	list-style: none;
}
*,::after,::before
{
	box-sizing: border-box;
	moz-osx-font-smoothing: grayscale;
	webkit-box-sizing: border-box;
	webkit-font-smoothing: antialiased;
}
@font-face
{
	font-family: OpenSans;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/open_sans/opensans-regular.eot);
	src: url(../fonts/open_sans/opensans-regular.eot?#iefix) format("embedded-opentype"),url(../fonts/open_sans/opensans-regular.woff2) format("woff2"),url(../fonts/open_sans/opensans-regular.woff) format("woff"),url(../fonts/open_sans/opensans-regular.ttf) format("truetype"),url(../fonts/open_sans/opensans-regular.svg#opensans-regular) format("svg");
}
@font-face
{
	font-family: OpenSans;
	font-style: normal;
	font-weight: 300;
	src: url(../fonts/open_sans/opensans-light.eot);
	src: url(../fonts/open_sans/opensans-light.eot?#iefix) format("embedded-opentype"),url(../fonts/open_sans/opensans-light.woff2) format("woff2"),url(../fonts/open_sans/opensans-light.woff) format("woff"),url(../fonts/open_sans/opensans-light.ttf) format("truetype"),url(../fonts/open_sans/opensans-light.svg#opensans-light) format("svg");
}
@font-face
{
	font-family: OpenSans;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/open_sans/opensans-semibold.eot);
	src: url(../fonts/open_sans/opensans-semibold.eot?#iefix) format("embedded-opentype"),url(../fonts/open_sans/opensans-semibold.woff2) format("woff2"),url(../fonts/open_sans/opensans-semibold.woff) format("woff"),url(../fonts/open_sans/opensans-semibold.ttf) format("truetype"),url(../fonts/open_sans/opensans-semibold.svg#opensans-semibold) format("svg");
}
@font-face
{
	font-family: OpenSans;
	font-style: normal;
	font-weight: 700;
	src: url(../fonts/open_sans/opensans-bold.eot);
	src: url(../fonts/open_sans/opensans-bold.eot?#iefix) format("embedded-opentype"),url(../fonts/open_sans/opensans-bold.woff2) format("woff2"),url(../fonts/open_sans/opensans-bold.woff) format("woff"),url(../fonts/open_sans/opensans-bold.ttf) format("truetype"),url(../fonts/open_sans/opensans-bold.svg#opensans-bold) format("svg");
}
@font-face
{
	font-family: rub;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/rubsn.eot);
	src: url(../fonts/rubsn.eot?#iefix) format("embedded-opentype"),url(../fonts/rubsn.woff2) format("woff2"),url(../fonts/rubsn.woff) format("woff"),url(../fonts/rubsn.ttf) format("truetype");
}
@font-face
{
	font-family: ArialTojik;
	font-style: normal;
	font-weight: 400;
	src: url(../fonts/Arial_Tojik/Arial_Tojik.ttf) format("truetype");
}
@font-face
{
	font-family: ArialTojik;
	font-style: normal;
	font-weight: 600;
	src: url(../fonts/Arial_Tojik/Arial_Tojik_bold.ttf) format("truetype");
}
@font-face
{
	font-family: ArialTojik;
	font-style: italic;
	font-weight: 400;
	src: url(../fonts/Arial_Tojik/Arial_Tojik_Italik.ttf) format("truetype");
}
[v-cloak]
{
	display: none;
}
html
{
	webkit-text-size-adjust: 100%;
}
body
{
	background-color: #fff;
	color: #000;
	font-family: OpenSans,serif;
	margin: 0;
	padding: 0;
}
.main
{
	overflow: hidden;
}
.main.tojik
{
	font-family: ArialTojik;
}
.main.tojik .title
{
	font-family: ArialTojik;
}
.main.tojik .title_big
{
	font-weight: 600;
}
a
{
	border: 0;
	color: #19bb4f;
	cursor: pointer;
	o-transition: ease-out .15s;
	outline: 0;
	text-decoration: none;
	transition: ease-out .15s;
	webkit-transition: ease-out .15s;
}
a:active,a:focus
{
	o-transition: outline-color 0s;
	outline-color: transparent;
	transition: outline-color 0s;
	webkit-transition: outline-color 0s;
}
a:hover
{
	color: #262626;
}
p
{
	color: #262626;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
}
@media screen and (max-width:1023px)
{
	p
	{
		font-size: 14px;
		line-height: 20px;
	}
}
._g-bg-alt
{
	background-color: #f6f6f6;
}
._g-translucent
{
	background-color: rgba(255,255,255,.95);
}
._g-ova
{
	overflow: auto;
}
._g-color-gray
{
	color: #999;
}
@media screen and (max-width:1023px)
{
	._g-hidden-tab
	{
		display: none;
	}
}
._g-show-tab
{
	display: none;
}
@media screen and (max-width:1023px)
{
	._g-show-tab
	{
		display: block;
	}
}
@media screen and (max-width:767px)
{
	._g-hidden-mob
	{
		display: none;
	}
}
._g-show-mob
{
	display: none;
}
@media screen and (max-width:767px)
{
	._g-show-mob
	{
		display: block;
	}
}
._g-hidden-input
{
	height: 1px;
	left: -9999px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	webkit-appearance: none;
	width: 1px;
	z-index: -1;
}
._g-text-center
{
	text-align: center;
}
@media screen and (max-width:767px)
{
	._g-text-center
	{
		text-align: left;
	}
}
body.compensate-for-scrollbar
{
	overflow: hidden;
}
.fancybox-active
{
	height: auto;
}
.fancybox-is-hidden
{
	left: -9999px;
	margin: 0;
	position: absolute!important;
	top: -9999px;
	visibility: hidden;
}
.fancybox-container
{
	height: 100%;
	left: 0;
	ms-touch-action: manipulation;
	outline: 0;
	position: fixed;
	top: 0;
	touch-action: manipulation;
	transform: translateZ(0);
	webkit-backface-visibility: hidden;
	webkit-tap-highlight-color: transparent;
	webkit-transform: translateZ(0);
	width: 100%;
	z-index: 99992;
}
.fancybox-container *
{
	box-sizing: border-box;
	webkit-box-sizing: border-box;
}
.fancybox-bg,.fancybox-inner,.fancybox-outer,.fancybox-stage
{
	bottom: 0;
	left: 0;
	position: absolute;
	right: 0;
	top: 0;
}
.fancybox-outer
{
	overflow-y: auto;
	webkit-overflow-scrolling: touch;
}
.fancybox-bg
{
	background: #1e1e1e;
	opacity: 0;
	o-transition-duration: inherit;
	o-transition-property: opacity;
	o-transition-timing-function: cubic-bezier(.47,0,.74,.71);
	transition-duration: inherit;
	transition-property: opacity;
	transition-timing-function: cubic-bezier(.47,0,.74,.71);
	webkit-transition-duration: inherit;
	webkit-transition-property: opacity;
	webkit-transition-timing-function: cubic-bezier(.47,0,.74,.71);
}
.fancybox-is-open .fancybox-bg
{
	opacity: .9;
	o-transition-timing-function: cubic-bezier(.22,.61,.36,1);
	transition-timing-function: cubic-bezier(.22,.61,.36,1);
	webkit-transition-timing-function: cubic-bezier(.22,.61,.36,1);
}
.fancybox-caption,.fancybox-infobar,.fancybox-navigation .fancybox-button,.fancybox-toolbar
{
	direction: ltr;
	opacity: 0;
	o-transition: opacity .25s ease,visibility 0s ease .25s;
	position: absolute;
	transition: opacity .25s ease,visibility 0s ease .25s;
	visibility: hidden;
	webkit-transition: opacity .25s ease,visibility 0s ease .25s;
	z-index: 99997;
}
.fancybox-show-caption .fancybox-caption,.fancybox-show-infobar .fancybox-infobar,.fancybox-show-nav .fancybox-navigation .fancybox-button,.fancybox-show-toolbar .fancybox-toolbar
{
	opacity: 1;
	o-transition: opacity .25s ease 0s,visibility 0s ease 0s;
	transition: opacity .25s ease 0s,visibility 0s ease 0s;
	visibility: visible;
	webkit-transition: opacity .25s ease 0s,visibility 0s ease 0s;
}
.fancybox-infobar
{
	color: #ccc;
	font-size: 13px;
	height: 44px;
	left: 0;
	line-height: 44px;
	min-width: 44px;
	mix-blend-mode: difference;
	moz-user-select: none;
	ms-user-select: none;
	padding: 0 10px;
	pointer-events: none;
	top: 0;
	user-select: none;
	webkit-font-smoothing: subpixel-antialiased;
	webkit-touch-callout: none;
	webkit-user-select: none;
}
.fancybox-toolbar
{
	right: 0;
	top: 0;
}
.fancybox-stage
{
	direction: ltr;
	overflow: visible;
	transform: translateZ(0);
	webkit-transform: translateZ(0);
	z-index: 99994;
}
.fancybox-is-open .fancybox-stage
{
	overflow: hidden;
}
.fancybox-slide
{
	display: none;
	height: 100%;
	left: 0;
	o-transition-property: transform,opacity;
	outline: 0;
	overflow: auto;
	padding: 44px;
	position: absolute;
	text-align: center;
	top: 0;
	transition-property: opacity,-webkit-transform;
	transition-property: transform,opacity,-webkit-transform;
	transition-property: transform,opacity;
	webkit-backface-visibility: hidden;
	webkit-overflow-scrolling: touch;
	webkit-transition-property: opacity,-webkit-transform;
	white-space: normal;
	width: 100%;
	z-index: 99994;
}
.fancybox-slide:before
{
	content: "";
	display: inline-block;
	font-size: 0;
	height: 100%;
	vertical-align: middle;
	width: 0;
}
.fancybox-is-sliding .fancybox-slide,.fancybox-slide--current,.fancybox-slide--next,.fancybox-slide--previous
{
	display: block;
}
.fancybox-slide--image
{
	overflow: hidden;
	padding: 44px 0;
}
.fancybox-slide--image:before
{
	display: none;
}
.fancybox-slide--html
{
	padding: 6px;
}
.fancybox-content
{
	background: #fff;
	display: inline-block;
	margin: 0;
	max-width: 100%;
	overflow: auto;
	padding: 44px;
	position: relative;
	text-align: left;
	vertical-align: middle;
	webkit-overflow-scrolling: touch;
}
.fancybox-slide--image .fancybox-content
{
	animation-timing-function: cubic-bezier(.5,0,.14,1);
	background: 0 0;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	left: 0;
	max-width: none;
	moz-user-select: none;
	ms-transform-origin: top left;
	ms-user-select: none;
	o-transition-property: transform,opacity;
	overflow: visible;
	padding: 0;
	position: absolute;
	top: 0;
	transform-origin: top left;
	transition-property: opacity,-webkit-transform;
	transition-property: transform,opacity,-webkit-transform;
	transition-property: transform,opacity;
	user-select: none;
	webkit-animation-timing-function: cubic-bezier(.5,0,.14,1);
	webkit-backface-visibility: hidden;
	webkit-background-size: 100% 100%;
	webkit-transform-origin: top left;
	webkit-transition-property: opacity,-webkit-transform;
	webkit-user-select: none;
	z-index: 99995;
}
.fancybox-can-zoomOut .fancybox-content
{
	cursor: -webkit-zoom-out;
	cursor: zoom-out;
}
.fancybox-can-zoomIn .fancybox-content
{
	cursor: -webkit-zoom-in;
	cursor: zoom-in;
}
.fancybox-can-pan .fancybox-content,.fancybox-can-swipe .fancybox-content
{
	cursor: grab;
	cursor: -webkit-grab;
}
.fancybox-is-grabbing .fancybox-content
{
	cursor: grabbing;
	cursor: -webkit-grabbing;
}
.fancybox-container [data-selectable=true]
{
	cursor: text;
}
.fancybox-image,.fancybox-spaceball
{
	background: 0 0;
	border: 0;
	height: 100%;
	left: 0;
	margin: 0;
	max-height: none;
	max-width: none;
	moz-user-select: none;
	ms-user-select: none;
	padding: 0;
	position: absolute;
	top: 0;
	user-select: none;
	webkit-user-select: none;
	width: 100%;
}
.fancybox-spaceball
{
	z-index: 1;
}
.fancybox-slide--iframe .fancybox-content,.fancybox-slide--map .fancybox-content,.fancybox-slide--pdf .fancybox-content,.fancybox-slide--video .fancybox-content
{
	height: 100%;
	overflow: visible;
	padding: 0;
	width: 100%;
}
.fancybox-slide--video .fancybox-content
{
	background: #000;
}
.fancybox-slide--map .fancybox-content
{
	background: #e5e3df;
}
.fancybox-slide--iframe .fancybox-content
{
	background: #fff;
}
.fancybox-iframe,.fancybox-video
{
	background: 0 0;
	border: 0;
	display: block;
	height: 100%;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 100%;
}
.fancybox-iframe
{
	left: 0;
	position: absolute;
	top: 0;
}
.fancybox-error
{
	background: #fff;
	cursor: default;
	max-width: 400px;
	padding: 40px;
	width: 100%;
}
.fancybox-error p
{
	color: #444;
	font-size: 16px;
	line-height: 20px;
	margin: 0;
	padding: 0;
}
.fancybox-button
{
	background: rgba(30,30,30,.6);
	border: 0;
	border-radius: 0;
	box-shadow: none;
	cursor: pointer;
	display: inline-block;
	height: 44px;
	margin: 0;
	o-transition: color .2s;
	padding: 10px;
	position: relative;
	transition: color .2s;
	vertical-align: top;
	visibility: inherit;
	webkit-border-radius: 0;
	webkit-box-shadow: none;
	webkit-transition: color .2s;
	width: 44px;
}
.fancybox-button,.fancybox-button:link,.fancybox-button:visited
{
	color: #ccc;
}
.fancybox-button:hover
{
	color: #fff;
}
.fancybox-button:focus
{
	outline: 0;
}
.fancybox-button.fancybox-focus
{
	outline: 1px dotted;
}
.fancybox-button[disabled],.fancybox-button[disabled]:hover
{
	color: #888;
	cursor: default;
	outline: 0;
}
.fancybox-button div
{
	height: 100%;
}
.fancybox-button svg
{
	display: block;
	height: 100%;
	overflow: visible;
	position: relative;
	width: 100%;
}
.fancybox-button svg path
{
	fill: currentColor;
	stroke-width: 0;
}
.fancybox-button--fsenter svg:nth-child(2),.fancybox-button--fsexit svg:first-child,.fancybox-button--pause svg:first-child,.fancybox-button--play svg:nth-child(2)
{
	display: none;
}
.fancybox-progress
{
	background: #ff5268;
	height: 2px;
	left: 0;
	ms-transform: scaleX(0);
	ms-transform-origin: 0;
	o-transition-property: transform;
	o-transition-timing-function: linear;
	position: absolute;
	right: 0;
	top: 0;
	transform: scaleX(0);
	transform-origin: 0;
	transition-property: transform,-webkit-transform;
	transition-property: transform;
	transition-property: -webkit-transform;
	transition-timing-function: linear;
	webkit-transform: scaleX(0);
	webkit-transform-origin: 0;
	webkit-transition-property: -webkit-transform;
	webkit-transition-timing-function: linear;
	z-index: 99998;
}
.fancybox-close-small
{
	background: 0 0;
	border: 0;
	border-radius: 0;
	color: #ccc;
	cursor: pointer;
	opacity: .8;
	padding: 8px;
	position: absolute;
	right: -12px;
	top: -44px;
	webkit-border-radius: 0;
	z-index: 401;
}
.fancybox-close-small:hover
{
	color: #fff;
	opacity: 1;
}
.fancybox-slide--html 
.fancybox-close-small
{
	color: currentColor;
	padding: 10px;
	right: 0;
	top: 0;
}
.fancybox-slide--image.fancybox-is-scaling .fancybox-content
{
	overflow: hidden;
}
.fancybox-is-scaling .fancybox-close-small,.fancybox-is-zoomable.fancybox-can-pan .fancybox-close-small
{
	display: none;
}
.fancybox-navigation .fancybox-button
{
	background-clip: content-box;
	height: 100px;
	opacity: 0;
	position: absolute;
	top: calc(50% - 50px);
	top: -webkit-calc(50% - 50px);
	webkit-background-clip: content-box;
	width: 70px;
}
.fancybox-navigation .fancybox-button div
{
	padding: 7px;
}
.fancybox-navigation .fancybox-button--arrow_left
{
	left: 0;
	left: env(safe-area-inset-left);
	padding: 31px 26px 31px 6px;
}
.fancybox-navigation .fancybox-button--arrow_right
{
	padding: 31px 6px 31px 26px;
	right: 0;
	right: env(safe-area-inset-right);
}
.fancybox-caption
{
	background: linear-gradient(0deg,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);
	background: -o-linear-gradient(bottom,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);
	background: -webkit-gradient(linear,left bottom,left top,color-stop(0,rgba(0,0,0,.85)),color-stop(50%,rgba(0,0,0,.3)),color-stop(65%,rgba(0,0,0,.15)),color-stop(75.5%,rgba(0,0,0,.075)),color-stop(82.85%,rgba(0,0,0,.037)),color-stop(88%,rgba(0,0,0,.019)),to(transparent));
	background: -webkit-linear-gradient(bottom,rgba(0,0,0,.85) 0,rgba(0,0,0,.3) 50%,rgba(0,0,0,.15) 65%,rgba(0,0,0,.075) 75.5%,rgba(0,0,0,.037) 82.85%,rgba(0,0,0,.019) 88%,transparent);
	bottom: 0;
	color: #eee;
	font-size: 14px;
	font-weight: 400;
	left: 0;
	line-height: 1.5;
	padding: 75px 44px 25px;
	pointer-events: none;
	right: 0;
	text-align: center;
	z-index: 99996;
}
.fancybox-caption--separate
{
	margin-top: -50px;
}
.fancybox-caption__body
{
	max-height: 50vh;
	overflow: auto;
	pointer-events: all;
}
.fancybox-caption a,.fancybox-caption a:link,.fancybox-caption a:visited
{
	color: #ccc;
	text-decoration: none;
}
.fancybox-caption a:hover
{
	color: #fff;
	text-decoration: underline;
}
.fancybox-loading
{
	animation: a 1s linear infinite;
	background: 0 0;
	border: 4px solid #888;
	border-bottom-color: #fff;
	border-radius: 50%;
	height: 50px;
	left: 50%;
	margin: -25px 0 0 -25px;
	opacity: .7;
	padding: 0;
	position: absolute;
	top: 50%;
	webkit-animation: a 1s linear infinite;
	webkit-border-radius: 50%;
	width: 50px;
	z-index: 99999;
}
@-webkit-keyframes a
{
	to
	{
		transform: rotate(1turn);
		webkit-transform: rotate(1turn);
	}
}
@keyframes a
{
	to
	{
		transform: rotate(1turn);
		webkit-transform: rotate(1turn);
	}
}
.fancybox-animated
{
	o-transition-timing-function: cubic-bezier(0,0,.25,1);
	transition-timing-function: cubic-bezier(0,0,.25,1);
	webkit-transition-timing-function: cubic-bezier(0,0,.25,1);
}
.fancybox-fx-slide.fancybox-slide--previous
{
	opacity: 0;
	transform: translate3d(-100%,0,0);
	webkit-transform: translate3d(-100%,0,0);
}
.fancybox-fx-slide.fancybox-slide--next
{
	opacity: 0;
	transform: translate3d(100%,0,0);
	webkit-transform: translate3d(100%,0,0);
}
.fancybox-fx-slide.fancybox-slide--current
{
	opacity: 1;
	transform: translateZ(0);
	webkit-transform: translateZ(0);
}
.fancybox-fx-fade.fancybox-slide--next,.fancybox-fx-fade.fancybox-slide--previous
{
	opacity: 0;
	o-transition-timing-function: cubic-bezier(.19,1,.22,1);
	transition-timing-function: cubic-bezier(.19,1,.22,1);
	webkit-transition-timing-function: cubic-bezier(.19,1,.22,1);
}
.fancybox-fx-fade.fancybox-slide--current
{
	opacity: 1;
}
.fancybox-fx-zoom-in-out.fancybox-slide--previous
{
	opacity: 0;
	transform: scale3d(1.5,1.5,1.5);
	webkit-transform: scale3d(1.5,1.5,1.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--next
{
	opacity: 0;
	transform: scale3d(.5,.5,.5);
	webkit-transform: scale3d(.5,.5,.5);
}
.fancybox-fx-zoom-in-out.fancybox-slide--current
{
	ms-transform: scaleX(1);
	opacity: 1;
	transform: scaleX(1);
	webkit-transform: scaleX(1);
}
.fancybox-fx-rotate.fancybox-slide--previous
{
	ms-transform: rotate(-1turn);
	opacity: 0;
	transform: rotate(-1turn);
	webkit-transform: rotate(-1turn);
}
.fancybox-fx-rotate.fancybox-slide--next
{
	ms-transform: rotate(1turn);
	opacity: 0;
	transform: rotate(1turn);
	webkit-transform: rotate(1turn);
}
.fancybox-fx-rotate.fancybox-slide--current
{
	ms-transform: rotate(0);
	opacity: 1;
	transform: rotate(0);
	webkit-transform: rotate(0);
}
.fancybox-fx-circular.fancybox-slide--previous
{
	opacity: 0;
	transform: scale3d(0,0,0) translate3d(-100%,0,0);
	webkit-transform: scale3d(0,0,0) translate3d(-100%,0,0);
}
.fancybox-fx-circular.fancybox-slide--next
{
	opacity: 0;
	transform: scale3d(0,0,0) translate3d(100%,0,0);
	webkit-transform: scale3d(0,0,0) translate3d(100%,0,0);
}
.fancybox-fx-circular.fancybox-slide--current
{
	opacity: 1;
	transform: scaleX(1) translateZ(0);
	webkit-transform: scaleX(1) translateZ(0);
}
.fancybox-fx-tube.fancybox-slide--previous
{
	transform: translate3d(-100%,0,0) scale(.1) skew(-10deg);
	webkit-transform: translate3d(-100%,0,0) scale(.1) skew(-10deg);
}
.fancybox-fx-tube.fancybox-slide--next
{
	transform: translate3d(100%,0,0) scale(.1) skew(10deg);
	webkit-transform: translate3d(100%,0,0) scale(.1) skew(10deg);
}
.fancybox-fx-tube.fancybox-slide--current
{
	transform: translateZ(0) scale(1);
	webkit-transform: translateZ(0) scale(1);
}
@media (max-height:576px)
{
	.fancybox-slide
	{
		padding-left: 6px;
		padding-right: 6px;
	}
	.fancybox-slide--image
	{
		padding: 6px 0;
	}
	.fancybox-close-small
	{
		right: -6px;
	}
	.fancybox-slide--image .fancybox-close-small
	{
		background: #4e4e4e;
		color: #f2f4f6;
		height: 36px;
		opacity: 1;
		padding: 6px;
		right: 0;
		top: 0;
		width: 36px;
	}
	.fancybox-caption
	{
		padding-left: 12px;
		padding-right: 12px;
	}
}
.fancybox-share
{
	background: #f4f4f4;
	border-radius: 3px;
	max-width: 90%;
	padding: 30px;
	text-align: center;
	webkit-border-radius: 3px;
}
.fancybox-share h1
{
	color: #222;
	font-size: 35px;
	font-weight: 700;
	margin: 0 0 20px;
}
.fancybox-share p
{
	margin: 0;
	padding: 0;
}
.fancybox-share__button
{
	border: 0;
	border-radius: 3px;
	display: inline-block;
	font-size: 14px;
	font-weight: 700;
	line-height: 40px;
	margin: 0 5px 10px;
	min-width: 130px;
	moz-user-select: none;
	ms-user-select: none;
	o-transition: all .2s;
	padding: 0 15px;
	text-decoration: none;
	transition: all .2s;
	user-select: none;
	webkit-border-radius: 3px;
	webkit-transition: all .2s;
	webkit-user-select: none;
	white-space: nowrap;
}
.fancybox-share__button:link,.fancybox-share__button:visited
{
	color: #fff;
}
.fancybox-share__button:hover
{
	text-decoration: none;
}
.fancybox-share__button--fb
{
	background: #3b5998;
}
.fancybox-share__button--fb:hover
{
	background: #344e86;
}
.fancybox-share__button--pt
{
	background: #bd081d;
}
.fancybox-share__button--pt:hover
{
	background: #aa0719;
}
.fancybox-share__button--tw
{
	background: #1da1f2;
}
.fancybox-share__button--tw:hover
{
	background: #0d95e8;
}
.fancybox-share__button svg
{
	height: 25px;
	margin-right: 7px;
	position: relative;
	top: -1px;
	vertical-align: middle;
	width: 25px;
}
.fancybox-share__button svg path
{
	fill: #fff;
}
.fancybox-share__input
{
	background: 0 0;
	border: 0;
	border-bottom: 1px solid #d7d7d7;
	border-radius: 0;
	color: #5d5b5b;
	font-size: 14px;
	margin: 10px 0 0;
	outline: 0;
	padding: 10px 15px;
	webkit-border-radius: 0;
	width: 100%;
}
.fancybox-thumbs
{
	background: #ddd;
	bottom: 0;
	display: none;
	margin: 0;
	ms-overflow-style: -ms-autohiding-scrollbar;
	padding: 2px 2px 4px;
	position: absolute;
	right: 0;
	top: 0;
	webkit-overflow-scrolling: touch;
	webkit-tap-highlight-color: transparent;
	width: 212px;
	z-index: 99995;
}
.fancybox-thumbs-x
{
	overflow-x: auto;
	overflow-y: hidden;
}
.fancybox-show-thumbs .fancybox-thumbs
{
	display: block;
}
.fancybox-show-thumbs .fancybox-inner
{
	right: 212px;
}
.fancybox-thumbs__list
{
	font-size: 0;
	height: 100%;
	list-style: none;
	margin: 0;
	overflow-x: hidden;
	overflow-y: auto;
	padding: 0;
	position: absolute;
	position: relative;
	white-space: nowrap;
	width: 100%;
}
.fancybox-thumbs-x .fancybox-thumbs__list
{
	overflow: hidden;
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar
{
	width: 7px;
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-track
{
	background: #fff;
	border-radius: 10px;
	box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	webkit-border-radius: 10px;
	webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
}
.fancybox-thumbs-y .fancybox-thumbs__list::-webkit-scrollbar-thumb
{
	background: #2a2a2a;
	border-radius: 10px;
	webkit-border-radius: 10px;
}
.fancybox-thumbs__list a
{
	backface-visibility: hidden;
	background-color: rgba(0,0,0,.1);
	background-position: 50%;
	background-repeat: no-repeat;
	background-size: cover;
	cursor: pointer;
	float: left;
	height: 75px;
	margin: 2px;
	max-height: calc(100% - 8px);
	max-height: -webkit-calc(100% - 8px);
	max-width: calc(50% - 4px);
	max-width: -webkit-calc(50% - 4px);
	outline: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	webkit-backface-visibility: hidden;
	webkit-background-size: cover;
	webkit-tap-highlight-color: transparent;
	width: 100px;
}
.fancybox-thumbs__list a:before
{
	border: 6px solid #ff5268;
	bottom: 0;
	content: "";
	left: 0;
	opacity: 0;
	o-transition: all .2s cubic-bezier(.25,.46,.45,.94);
	position: absolute;
	right: 0;
	top: 0;
	transition: all .2s cubic-bezier(.25,.46,.45,.94);
	webkit-transition: all .2s cubic-bezier(.25,.46,.45,.94);
	z-index: 99991;
}
.fancybox-thumbs__list a:focus:before
{
	opacity: .5;
}
.fancybox-thumbs__list a.fancybox-thumbs-active:before
{
	opacity: 1;
}
@media (max-width:576px)
{
	.fancybox-thumbs
	{
		width: 110px;
	}
	.fancybox-show-thumbs .fancybox-inner
	{
		right: 110px;
	}
	.fancybox-thumbs__list a
	{
		max-width: calc(100% - 10px);
		max-width: -webkit-calc(100% - 10px);
	}
}
sup
{
	display: inline-block;
	font-size: 60%;
	height: 0;
	line-height: 0;
	position: relative;
	top: -2px;
	vertical-align: super;
}
b
{
	font-weight: 600;
}
.button
{
	background-color: #262626;
	color: #fff;
	cursor: pointer;
	display: inline-block;
	font-size: 14px;
	font-weight: 600;
	height: 50px;
	line-height: 50px;
	max-width: 100%;
	o-transition: background-color .2s;
	padding: 0 20px;
	text-align: center;
	transition: background-color .2s;
	webkit-transition: background-color .2s;
	width: 253px;
}
@media screen and (max-width:1023px)
{
	.button
	{
		font-size: 14px;
		height: 50px;
		line-height: 50px;
	}
}
@media screen and (max-width:767px)
{
	.button
	{
		font-size: 17px;
		height: 50px;
		line-height: 50px;
		width: 100%;
	}
}
.button:hover
{
	background-color: #19bb4f;
	color: #fff;
}
.section__outer
{
	margin: 0 auto;
	max-width: 1366px;
	width: 100%;
}
.section__inner
{
	padding: 0 98px;
}
@media screen and (max-width:1023px)
{
	.section__inner
	{
		padding: 0 40px;
	}
}
@media screen and (max-width:767px)
{
	.section__inner
	{
		padding: 0 20px;
	}
}
.title
{
	color: #262626;
	font-size: 36px;
	font-weight: 600;
	line-height: 40px;
	margin-bottom: 20px;
}
@media screen and (max-width:1023px)
{
	.title
	{
		margin-bottom: 15px;
	}
}
@media screen and (max-width:767px)
{
	.title
	{
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 10px;
	}
}
.title_big
{
	font-size: 46px;
	line-height: 50px;
}
@media screen and (max-width:767px)
{
	.title_big
	{
		font-size: 28px;
		line-height: 32px;
	}
}
.sub-title
{
	color: #262626;
	font-size: 24px;
	font-weight: 600;
	line-height: 30px;
}
.text
{
	color: #262626;
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
}
@media screen and (max-width:1023px)
{
	.text
	{
		font-size: 18px;
		line-height: 24px;
	}
}
@media screen and (max-width:767px)
{
	.text
	{
		font-size: 17px;
		line-height: 25px;
	}
}
.first-block
{
	background-image: linear-gradient(to right,#cfcfeb 0,#cfcfeb 50%,#cfcfeb 50%,#cfcfeb 100%);
	background-image: -o-linear-gradient(left,#cfcfeb 0,#cfcfeb 50%,#cfcfeb 50%,#cfcfeb 100%);
	background-image: -webkit-gradient(linear,left top,right top,color-stop(0,#cfcfeb),color-stop(50%,#cfcfeb),color-stop(50%,#cfcfeb),to(#cfcfeb));
	background-image: -webkit-linear-gradient(left,#cfcfeb 0,#cfcfeb 50%,#cfcfeb 50%,#cfcfeb 100%);
}
@media screen and (max-width:1023px)
{
	.first-block
	{
		background-image: none;
	}
}
.first-block__title
{
	margin-bottom: 15px;
	max-width: 570px;
}
@media screen and (max-width:1023px)
{
	.first-block__title
	{
		margin-bottom: 20px;
	}
}
@media screen and (max-width:767px)
{
	.first-block__title
	{
		margin-bottom: 10px;
	}
}
.first-block__img
{
	display: none;
	position: relative;
}
@media screen and (max-width:1023px)
{
	.first-block__img
	{
		display: block;
	}
}
@media screen and (max-width:767px)
{
	.first-block__img
	{
		height: 68.75vw;
	}
}
.first-block__img img
{
	display: block;
	width: 100%;
}
@media screen and (max-width:767px)
{
	.first-block__img img
	{
		height: 100%;
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
	}
}
.first-block__wrapper
{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 580px;
	padding-top: 80px;
	webkit-background-size: cover;
}
@media screen and (max-width:1023px)
{
	.first-block__wrapper
	{
		background-image: none!important;
		min-height: 0;
		padding: 30px 0 23px;
	}
}
@media screen and (max-width:767px)
{
	.first-block__wrapper
	{
		padding: 20px 0 23px;
	}
}
.first-block__sub-title
{
	color: #262626;
	font-size: 24px;
	font-weight: 400;
	line-height: 32px;
	max-width: 50%;
}
@media screen and (max-width:1023px)
{
	.first-block__sub-title
	{
		font-size: 18px;
		line-height: 20px;
		max-width: 100%;
	}
	.first-block__sub-title br
	{
		display: none;
	}
}
@media screen and (max-width:767px)
{
	.first-block__sub-title
	{
		font-size: 17px;
		line-height: 24px;
	}
}
.second-block
{
	background-color: #b1c4cb;
}
@media screen and (max-width:1023px)
{
	.second-block
	{
		background-color: #fff;
	}
}
.second-block__wrapper
{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	height: 580px;
	padding-top: 60px;
	webkit-background-size: cover;
}
@media screen and (max-width:1023px)
{
	.second-block__wrapper
	{
		background-image: none!important;
		height: auto;
		padding: 40px 0 0;
	}
}
@media screen and (max-width:767px)
{
	.second-block__wrapper
	{
		padding: 20px 0 0;
	}
}
.second-block__container
{
	margin-left: auto;
	max-width: 570px;
}
@media screen and (max-width:1023px)
{
	.second-block__container
	{
		max-width: 100%;
	}
}
.second-block__img
{
	display: none;
	position: relative;
}
@media screen and (max-width:1023px)
{
	.second-block__img
	{
		display: block;
	}
}
@media screen and (max-width:767px)
{
	.second-block__img
	{
		height: 68.75vw;
	}
}
.second-block__img img
{
	display: block;
	width: 100%;
}
@media screen and (max-width:767px)
{
	.second-block__img img
	{
		height: 100%;
		left: 50%;
		ms-transform: translateX(-50%);
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		webkit-transform: translateX(-50%);
		width: auto;
	}
}
.second-block__title
{
	margin-bottom: 25px;
}
@media screen and (max-width:1023px)
{
	.second-block__title
	{
		margin-bottom: 20px;
	}
	.second-block__title br
	{
		display: none;
	}
}
@media screen and (max-width:767px)
{
	.second-block__title
	{
		margin-bottom: 15px;
	}
}
.second-block__text
{
	margin-bottom: 50px;
}
@media screen and (max-width:1023px)
{
	.second-block__text
	{
		margin-bottom: 0;
	}
	.second-block__text br
	{
		display: none;
	}
}
.advantage__block
{
	padding: 60px 0 60px;
}
@media screen and (max-width:1023px)
{
	.advantage__block
	{
		padding: 40px 0 40px;
	}
}
.advantage__list
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	margin: 65px 0 0;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
@media screen and (max-width:1023px)
{
	.advantage__list
	{
		margin: 25px 0 0;
	}
}
@media screen and (max-width:767px)
{
	.advantage__list
	{
		flex-wrap: wrap;
		margin: 20px 0 0;
		ms-flex-wrap: wrap;
		webkit-flex-wrap: wrap;
	}
}
.advantage-item
{
	flex: 0 0 calc(100% / 3 - 20px);
	ms-flex: 0 0 calc(100% / 3 - 20px);
	webkit-box-flex: 0;
	webkit-flex: 0 0 -webkit-calc(100% / 3 - 20px);
	width: calc(100% / 3 - 20px);
	width: -webkit-calc(100% / 3 - 20px);
}
@media screen and (max-width:1023px)
{
	.advantage-item
	{
		flex: 0 0 calc(100% / 3 - 13px);
		ms-flex: 0 0 calc(100% / 3 - 13px);
		webkit-box-flex: 0;
		webkit-flex: 0 0 -webkit-calc(100% / 3 - 13px);
		width: calc(100% / 3 - 13px);
		width: -webkit-calc(100% / 3 - 13px);
	}
}
@media screen and (max-width:767px)
{
	.advantage-item
	{
		flex: 100%;
		margin: 0;
		ms-flex: 100%;
		webkit-box-flex: 100%;
		webkit-flex: 100%;
		width: 100%;
	}
	.advantage-item:not(:last-child)
	{
		margin-bottom: 38px;
	}
}
.advantage-item__title
{
	margin-bottom: 15px;
}
@media screen and (max-width:1023px)
{
	.advantage-item__title
	{
		font-size: 21px;
		line-height: 30px;
		margin-bottom: 10px;
	}
}
@media screen and (max-width:767px)
{
	.advantage-item__title
	{
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 10px;
	}
}
.advantage-item__text
{
	color: #262626;
	font-size: 17px;
	font-weight: 400;
	line-height: 25px;
	max-width: 360px;
}
@media screen and (max-width:767px)
{
	.advantage-item__text
	{
		font-size: 14px;
		line-height: 20px;
	}
}
.advantage-item__img
{
	align-items: flex-end;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 75px;
	margin-bottom: 16px;
	ms-flex-align: end;
	webkit-align-items: flex-end;
	webkit-box-align: end;
}
@media screen and (max-width:767px)
{
	.advantage-item__img
	{
		height: auto;
		margin-bottom: 20px;
	}
}
.advantage-item__img .icon
{
	display: block;
}
.advantage-item__img .icon-1
{
	height: 67px;
	width: 80px;
}
@media screen and (max-width:767px)
{
	.advantage-item__img .icon-1
	{
		height: 57px;
		width: 69px;
	}
}
.advantage-item__img .icon-2
{
	height: 73px;
	width: 70px;
}
@media screen and (max-width:767px)
{
	.advantage-item__img .icon-2
	{
		height: 63px;
		width: 60px;
	}
}
.advantage-item__img .icon-3
{
	height: 64px;
	width: 76px;
}
@media screen and (max-width:767px)
{
	.advantage-item__img .icon-3
	{
		height: 55px;
		width: 65px;
	}
}
.protect__block
{
	background-color: #fff;
}
@media screen and (max-width:1023px)
{
	.protect__block
	{
		padding-bottom: 40px;
	}
}
@media screen and (max-width:1023px)
{
	.protect__title
	{
		margin-bottom: 26px;
	}
	.protect__title br
	{
		display: none;
	}
}
@media screen and (max-width:767px)
{
	.protect__title
	{
		margin-bottom: 12px;
	}
}
.protect__img
{
	display: none;
	position: relative;
}
@media screen and (max-width:1023px)
{
	.protect__img
	{
		display: block;
	}
}
@media screen and (max-width:767px)
{
	.protect__img
	{
		height: 68.75vw;
	}
}
.protect__img img
{
	display: block;
	width: 100%;
}
@media screen and (max-width:767px)
{
	.protect__img img
	{
		height: 100%;
		left: 50%;
		ms-transform: translateX(-50%);
		position: absolute;
		top: 0;
		transform: translateX(-50%);
		webkit-transform: translateX(-50%);
		width: auto;
	}
}
.protect__wrapper
{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	min-height: 680px;
	padding-top: 60px;
	webkit-background-size: cover;
}
@media screen and (max-width:1023px)
{
	.protect__wrapper
	{
		background-image: none!important;
		min-height: 0;
		padding: 40px 0 0;
	}
}
@media screen and (max-width:767px)
{
	.protect__wrapper
	{
		padding: 20px 0 0;
	}
}
.protect__container
{
	margin-right: auto;
	max-width: 570px;
}
@media screen and (max-width:1023px)
{
	.protect__container
	{
		max-width: 100%;
	}
}
@media screen and (max-width:1023px)
{
	.protect__text
	{
		font-size: 21px;
		line-height: 30px;
	}
}
@media screen and (max-width:767px)
{
	.protect__text
	{
		font-size: 17px;
		line-height: 25px;
	}
}
.info__wrapper
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	min-height: 670px;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
@media screen and (max-width:1023px)
{
	.info__wrapper
	{
		flex-wrap: wrap;
		min-height: 0;
		ms-flex-wrap: wrap;
		webkit-flex-wrap: wrap;
	}
}
.info__list
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	margin: 63px 0 60px;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
@media screen and (max-width:1023px)
{
	.info__list
	{
		margin: 36px 0 40px;
	}
}
@media screen and (max-width:767px)
{
	.info__list
	{
		flex-wrap: wrap;
		margin: 17px 0;
		ms-flex-wrap: wrap;
		webkit-flex-wrap: wrap;
	}
}
._profit .info__list
{
	margin: 53px 0 60px;
}
@media screen and (max-width:1023px)
{
	._profit .info__list
	{
		margin: 30px 0 40px;
	}
}
@media screen and (max-width:767px)
{
	._profit .info__list
	{
		margin: 22px 0 18px;
	}
}
.info__title
{
	margin-bottom: 30px;
}
@media screen and (max-width:1023px)
{
	.info__title
	{
		margin-bottom: 25px;
	}
	.info__title br
	{
		display: none;
	}
}
@media screen and (max-width:767px)
{
	.info__title
	{
		margin-bottom: 15px;
	}
}
._health .info__title
{
	margin-bottom: 20px;
}
@media screen and (max-width:1023px)
{
	._health .info__title
	{
		margin-bottom: 25px;
	}
}
@media screen and (max-width:767px)
{
	._health .info__title
	{
		margin-bottom: 15px;
		max-width: 93%;
	}
}
._profit .info__title
{
	margin-bottom: 25px;
}
@media screen and (max-width:767px)
{
	._profit .info__title
	{
		margin-bottom: 15px;
	}
}
.info__text:not(:last-child)
{
	margin-bottom: 20px;
}
@media screen and (max-width:767px)
{
	.info__text:not(:last-child)
	{
		margin-bottom: 25px;
	}
}
@media screen and (max-width:1023px)
{
	.info__text
	{
		font-size: 21px;
		line-height: 30px;
	}
}
@media screen and (max-width:767px)
{
	.info__text
	{
		font-size: 17px;
		line-height: 25px;
	}
}
@media screen and (max-width:767px)
{
	._profit .info__text
	{
		max-width: 92%;
	}
}
.info__img
{
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	flex: 0 0 49%;
	min-height: 680px;
	ms-flex: 0 0 49%;
	webkit-background-size: cover;
	webkit-box-flex: 0;
	webkit-flex: 0 0 49%;
	width: 49%;
}
@media screen and (max-width:1023px)
{
	.info__img
	{
		flex: 0 0 100%;
		min-height: 52vw;
		ms-flex: 0 0 100%;
		ms-flex-order: 0;
		order: 0;
		webkit-box-flex: 0;
		webkit-box-ordinal-group: 1;
		webkit-flex: 0 0 100%;
		webkit-order: 0;
		width: 100%;
	}
}
@media screen and (max-width:767px)
{
	.info__img
	{
		min-height: 68.75vw;
	}
}
.info__info
{
	padding-top: 60px;
}
@media screen and (max-width:1023px)
{
	.info__info
	{
		ms-flex-order: 1;
		order: 1;
		padding-bottom: 40px;
		padding-top: 40px;
		webkit-box-ordinal-group: 2;
		webkit-order: 1;
	}
}
@media screen and (max-width:767px)
{
	.info__info
	{
		padding-top: 20px;
	}
}
.info__info:first-child
{
	padding-left: 98px;
	padding-right: 30px;
}
@media screen and (max-width:1023px)
{
	.info__info:first-child
	{
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media screen and (max-width:767px)
{
	.info__info:first-child
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}
.info__info:last-child
{
	padding-left: 30px;
	padding-right: 98px;
}
@media screen and (max-width:1023px)
{
	.info__info:last-child
	{
		padding-left: 40px;
		padding-right: 40px;
	}
}
@media screen and (max-width:767px)
{
	.info__info:last-child
	{
		padding-left: 20px;
		padding-right: 20px;
	}
}
@media screen and (max-width:1023px)
{
	.info__info._health
	{
		margin-bottom: 40px;
		padding-bottom: 60px;
	}
}
@media screen and (max-width:767px)
{
	.info__info._health
	{
		margin-bottom: 0;
		padding-bottom: 40px;
	}
}
.info-item
{
	flex: 0 1 270px;
	ms-flex: 0 1 270px;
	webkit-box-flex: 0;
	webkit-flex: 0 1 270px;
}
@media screen and (max-width:1023px)
{
	.info-item
	{
		flex: 0 0 48.5%;
		ms-flex: 0 0 48.5%;
		webkit-box-flex: 0;
		webkit-flex: 0 0 48.5%;
		width: 48.5%;
	}
}
@media screen and (max-width:767px)
{
	.info-item
	{
		flex: 0 0 100%;
		margin-right: 0;
		ms-flex: 0 0 100%;
		webkit-box-flex: 0;
		webkit-flex: 0 0 100%;
		width: 100%;
	}
	.info-item:not(:last-child)
	{
		margin-bottom: 15px;
	}
	.protect__block .info-item
	{
		flex: 0 0 130px;
		ms-flex: 0 0 130px;
		webkit-box-flex: 0;
		webkit-flex: 0 0 130px;
		width: 130px;
	}
	.protect__block .info-item:not(:last-child)
	{
		margin-right: 20px;
	}
}
@media screen and (max-width:767px) and (max-width:767px)
{
	.protect__block .info-item
	{
		flex: 0 0 100%;
		ms-flex: 0 0 100%;
		webkit-box-flex: 0;
		webkit-flex: 0 0 100%;
		width: 100%;
	}
	.protect__block .info-item:not(:last-child)
	{
		margin-right: 0;
	}
}
.info-item__title
{
	margin-bottom: 10px;
	max-height: 60px;
}
@media screen and (max-width:1023px)
{
	.info-item__title
	{
		font-size: 21px;
		line-height: 28px;
		margin-bottom: 6px;
	}
}
@media screen and (max-width:767px)
{
	.info-item__title
	{
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 10px;
		max-height: 100%;
	}
	.info-item__title br
	{
		display: none;
	}
}
.info-item__text
{
	color: #262626;
	font-size: 17px;
	font-weight: 400;
	line-height: 20px;
}
@media screen and (max-width:767px)
{
	.info-item__text
	{
		font-size: 14px;
	}
}
._health .info-item__text,._profit .info-item__text
{
	line-height: 25px;
}
@media screen and (max-width:767px)
{
	._health .info-item__text,._profit .info-item__text
	{
		line-height: 20px;
	}
}
@media screen and (max-width:767px)
{
	._profit .info-item__text
	{
		max-width: 85%;
	}
}
.info-item__img
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 65px;
	margin-bottom: 20px;
	ms-flex-align: center;
	webkit-align-items: center;
	webkit-box-align: center;
}
@media screen and (max-width:767px)
{
	.info-item__img
	{
		height: auto;
		margin-bottom: 22px;
	}
}
._health .info-item__img,._profit .info-item__img
{
	margin-bottom: 10px;
}
@media screen and (max-width:1023px)
{
	._health .info-item__img,._profit .info-item__img
	{
		margin-bottom: 16px;
	}
}
@media screen and (max-width:767px)
{
	._health .info-item__img,._profit .info-item__img
	{
		margin-bottom: 25px;
	}
}
@media screen and (max-width:767px)
{
	._profit .info-item__img
	{
		margin-bottom: 20px;
	}
}
.info-item__img .icon-11
{
	height: 57px;
	width: 57px;
}
.info-item__img .icon-12
{
	height: 65px;
	width: 71px;
}
.info-item__img .icon-21
{
	height: 60px;
	width: 64px;
}
.info-item__img .icon-22
{
	height: 55px;
	width: 64px;
}
.info-item__img .icon-31
{
	height: 56px;
	width: 63px;
}
.info-item__img .icon-32
{
	height: 52px;
	width: 43px;
}
.how-to
{
	padding: 83px 0 10px;
}
@media screen and (max-width:1023px)
{
	.how-to
	{
		padding: 0 0 10px;
	}
}
@media screen and (max-width:767px)
{
	.how-to__title
	{
		margin-bottom: 5px;
	}
}
@media screen and (max-width:1023px)
{
	.how-to__text
	{
		font-size: 21px;
		line-height: 30px;
	}
}
@media screen and (max-width:767px)
{
	.how-to__text
	{
		font-size: 17px;
		line-height: 25px;
	}
}
.how-to__list
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-pack: justify;
	padding: 60px 0 0;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
@media screen and (max-width:1023px)
{
	.how-to__list
	{
		padding: 42px 0 0;
	}
}
@media screen and (max-width:767px)
{
	.how-to__list
	{
		flex-wrap: wrap;
		ms-flex-wrap: wrap;
		padding: 20px 0 0;
		webkit-flex-wrap: wrap;
	}
}
.how-to__list>div
{
	width: calc(100% / 3 - 20px);
	width: -webkit-calc(100% / 3 - 20px);
}
@media screen and (max-width:1023px)
{
	.how-to__list>div
	{
		width: calc(100% / 3 - 14.66px);
		width: -webkit-calc(100% / 3 - 14.66px);
	}
}
@media screen and (max-width:767px)
{
	.how-to__list>div
	{
		width: 100%;
	}
	.how-to__list>div:not(:last-child)
	{
		margin-bottom: 40px;
	}
}
.how-to-item
{
	padding-right: 1px;
}
.how-to-item__title
{
	margin-bottom: 10px;
}
@media screen and (max-width:1023px)
{
	.how-to-item__title
	{
		font-size: 21px;
		line-height: 28px;
	}
}
@media screen and (max-width:767px)
{
	.how-to-item__title
	{
		font-size: 17px;
		line-height: 25px;
	}
}
.how-to-item__text
{
	color: #262626;
	font-size: 17px;
	line-height: 25px;
}
@media screen and (max-width:767px)
{
	.how-to-item__text
	{
		font-size: 14px;
		line-height: 20px;
	}
}
.how-to-item__num
{
	margin-bottom: 30px;
	position: relative;
}
@media screen and (max-width:767px)
{
	.how-to-item__num
	{
		margin-bottom: 20px;
	}
}
.how-to-item__num span
{
	border: 1px solid #19bb4f;
	border-radius: 50%;
	color: #262626;
	display: inline-block;
	font-size: 36px;
	height: 70px;
	line-height: 70px;
	text-align: center;
	webkit-border-radius: 50%;
	width: 70px;
}
@media screen and (max-width:767px)
{
	.how-to-item__num span
	{
		height: 80px;
		line-height: 80px;
		width: 80px;
	}
}
.how-to-item__num_arrow:before
{
	border: 0 solid transparent;
	border-bottom-width: 5px;
	border-left: 10px solid #262626;
	border-top-width: 5px;
	content: '';
	ms-transform: translateY(-50%);
	position: absolute;
	right: 50px;
	top: 50%;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
}
@media screen and (max-width:1023px)
{
	.how-to-item__num_arrow:before
	{
		right: 12px;
	}
}
@media screen and (max-width:767px)
{
	.how-to-item__num_arrow:before
	{
		display: none;
	}
}
.how-to-item__num_arrow:after
{
	background-color: #262626;
	content: '';
	height: 1.5px;
	ms-transform: translateY(-50%);
	position: absolute;
	right: 55px;
	top: 50%;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
	width: 45%;
}
@media screen and (max-width:1023px)
{
	.how-to-item__num_arrow:after
	{
		right: 15px;
	}
}
@media screen and (max-width:767px)
{
	.how-to-item__num_arrow:after
	{
		display: none;
	}
}
.how-to-item .button
{
	margin-top: 40px;
}
@media screen and (max-width:1023px)
{
	.how-to-item .button
	{
		margin-top: 20px;
	}
}
.offices__block
{
	padding: 70px 0 60px;
}
@media screen and (max-width:1023px)
{
	.offices__block
	{
		padding: 30px 0 30px;
	}
}
@media screen and (max-width:767px)
{
	.offices__block
	{
		padding: 30px 0 25px;
	}
}
.offices__map
{
	margin: 50px 0 80px;
}
@media screen and (max-width:1023px)
{
	.offices__map
	{
		margin: 45px 0 40px;
	}
}
@media screen and (max-width:767px)
{
	.offices__map
	{
		margin-bottom: 40px;
		margin-top: 25px;
	}
}
.offices__map #map
{
	height: 600px;
	width: 100%;
}
@media screen and (max-width:767px)
{
	.offices__map #map
	{
		height: 400px;
	}
}
.offices__wrapper
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	margin: 0 -15px;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
@media screen and (max-width:1023px)
{
	.offices__wrapper
	{
		flex-wrap: wrap;
		margin: 0;
		ms-flex-wrap: wrap;
		webkit-flex-wrap: wrap;
	}
}
.offices__wrapper>div
{
	flex: 0 0 calc(50% - 30px);
	margin: 0 15px;
	ms-flex: 0 0 calc(50% - 30px);
	webkit-box-flex: 0;
	webkit-flex: 0 0 -webkit-calc(50% - 30px);
	width: calc(50% - 30px);
	width: -webkit-calc(50% - 30px);
}
@media screen and (max-width:1023px)
{
	.offices__wrapper>div
	{
		flex: 0 0 100%;
		margin: 0;
		ms-flex: 0 0 100%;
		webkit-box-flex: 0;
		webkit-flex: 0 0 100%;
		width: 100%;
	}
	.offices__wrapper>div:first-child
	{
		ms-flex-order: 1;
		order: 1;
		webkit-box-ordinal-group: 2;
		webkit-order: 1;
	}
	.offices__wrapper>div:last-child
	{
		ms-flex-order: 0;
		order: 0;
		webkit-box-ordinal-group: 1;
		webkit-order: 0;
	}
}
.offices__select-wrapper
{
	background: #fff;
	position: relative;
}
@media screen and (max-width:1023px)
{
	.offices__select-wrapper
	{
		max-width: 570px;
	}
}
.offices__select-wrapper:before
{
	background-image: url(data:image/png;
	content: '';
	height: 6px;
	ms-transform: translateY(-50%);
	pointer-events: none;
	position: absolute;
	right: 15px;
	top: 50%;
	transform: translateY(-50%);
	webkit-transform: translateY(-50%);
	width: 11px;
	z-index: 1;
}
.offices__select-wrapper select
{
	appearance: none;
	background: #fff;
	moz-appearance: none;
	webkit-appearance: none;
}
.offices__select
{
	border: 1px solid #404040;
	color: #404040;
	font-size: 14px;
	font-weight: 400;
	padding: 14px 12px 12px;
	padding-right: 25px;
	width: 100%;
}
@media screen and (max-width:1023px)
{
	.offices__select
	{
		max-width: 570px;
	}
}
.offices__title
{
	margin-bottom: 30px;
}
@media screen and (max-width:1023px)
{
	.offices__title
	{
		font-size: 36px;
		font-weight: 600;
		line-height: 40px;
		margin-bottom: 40px;
		max-width: 570px;
	}
}
@media screen and (max-width:767px)
{
	.offices__title
	{
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 30px;
	}
}
.contacts
{
	padding: 90px 0;
}
@media screen and (max-width:1023px)
{
	.contacts
	{
		padding: 40px 0 45px;
	}
}
@media screen and (max-width:767px)
{
	.contacts
	{
		padding: 40px 0;
	}
}
.contacts__list
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
@media screen and (max-width:767px)
{
	.contacts__list
	{
		flex-wrap: wrap;
		ms-flex-wrap: wrap;
		webkit-flex-wrap: wrap;
	}
}
.contacts__list>div
{
	width: calc(100% / 3 - 20px);
	width: -webkit-calc(100% / 3 - 20px);
}
@media screen and (max-width:1023px)
{
	.contacts__list>div
	{
		width: calc(100% / 3 - 14px);
		width: -webkit-calc(100% / 3 - 14px);
	}
}
@media screen and (max-width:767px)
{
	.contacts__list>div
	{
		width: 100%;
	}
	.contacts__list>div:not(:last-child)
	{
		margin-bottom: 40px;
	}
}
.contacts__title
{
	margin-bottom: 13px;
}
@media screen and (max-width:1023px)
{
	.contacts__title
	{
		font-size: 21px;
		line-height: 28px;
		margin-bottom: 8px;
	}
}
@media screen and (max-width:767px)
{
	.contacts__title
	{
		font-size: 17px;
		line-height: 25px;
	}
}
.contacts__text
{
	font-size: 17px;
	line-height: 25px;
}
@media screen and (max-width:767px)
{
	.contacts__text
	{
		font-size: 14px;
		line-height: 20px;
	}
}
.contacts__text:not(:last-child)
{
	margin-bottom: 19px;
}
@media screen and (max-width:767px)
{
	.contacts__text:not(:last-child)
	{
		margin-bottom: 9px;
	}
}
.contacts__text a
{
	color: #262626;
	font-weight: 600;
	white-space: nowrap;
}
.contacts__img
{
	align-items: flex-end;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	height: 70px;
	margin-bottom: 18px;
	ms-flex-align: end;
	webkit-align-items: flex-end;
	webkit-box-align: end;
}
@media screen and (max-width:1023px)
{
	.contacts__img
	{
		margin-bottom: 22px;
	}
}
@media screen and (max-width:767px)
{
	.contacts__img
	{
		height: auto;
		margin-bottom: 19px;
	}
}
.contacts__img .icon-1
{
	height: 71px;
	width: 61px;
}
@media screen and (max-width:767px)
{
	.contacts__img .icon-1
	{
		height: 64px;
		width: 55px;
	}
}
.contacts__img .icon-2
{
	height: 64px;
	width: 68px;
}
@media screen and (max-width:767px)
{
	.contacts__img .icon-2
	{
		height: 58px;
		width: 62px;
	}
}
.contacts__img .icon-3
{
	height: 71px;
	width: 72px;
}
@media screen and (max-width:767px)
{
	.contacts__img .icon-3
	{
		height: 64px;
		width: 65px;
	}
}
.contacts__img .icon svg
{
	display: block;
	height: 100%;
	width: 100%;
}
.documents__title
{
	margin-bottom: 25px;
}
@media screen and (max-width:767px)
{
	.documents__title
	{
		font-size: 28px;
		line-height: 32px;
		margin-bottom: 40px;
	}
}
.documents__block
{
	padding-top: 80px;
}
@media screen and (max-width:1023px)
{
	.documents__block
	{
		padding-top: 38px;
	}
}
.documents__note
{
	color: #999;
	font-size: 12px;
	font-weight: 400;
	line-height: 18px;
	margin-bottom: 75px;
}
@media screen and (max-width:1023px)
{
	.documents__note
	{
		margin-bottom: 70px;
	}
}
@media screen and (max-width:767px)
{
	.documents__note
	{
		font-size: 8px;
		line-height: 12px;
		margin-bottom: 40px;
	}
}
.documents__faq
{
	margin: 0 0 83px;
}
@media screen and (max-width:1023px)
{
	.documents__faq
	{
		margin: 0 0 42px;
	}
}
@media screen and (max-width:767px)
{
	.documents__faq
	{
		margin: 0 0 40px;
	}
}
.documents__faq a
{
	color: #19bb4f;
	display: block;
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 20px;
	padding-left: 41px;
	position: relative;
}
@media screen and (max-width:767px)
{
	.documents__faq a
	{
		font-size: 14px;
		line-height: 20px;
		padding-left: 35px;
	}
}
.documents__faq .icon
{
	display: inline-block;
	height: 27px;
	left: 3px;
	margin-right: 5px;
	position: absolute;
	top: 6px;
	vertical-align: top;
	width: 24px;
}
@media screen and (max-width:767px)
{
	.documents__faq .icon
	{
		left: -2px;
		top: 4px;
	}
}
.documents__faq .icon svg
{
	display: block;
	height: 100%;
	width: 100%;
}
.marked-list
{
	margin: 20px 0 65px;
}
@media screen and (max-width:1023px)
{
	.marked-list
	{
		margin: 20px 0 30px;
	}
}
.marked-list li
{
	color: #262626;
	font-size: 21px;
	font-weight: 400;
	line-height: 30px;
	margin-bottom: 20px;
	padding-left: 30px!important;
	position: relative;
}
@media screen and (max-width:767px)
{
	.marked-list li
	{
		font-size: 17px;
		line-height: 25px;
		margin-bottom: 20px;
		padding-left: 16px!important;
	}
}
.marked-list li:before
{
	background-color: #000;
	border-radius: 50%;
	content: '';
	height: 10px;
	left: 0;
	position: absolute;
	top: 10px;
	webkit-border-radius: 50%;
	width: 10px;
}
@media screen and (max-width:767px)
{
	.marked-list li:before
	{
		height: 6px;
		width: 6px;
	}
}
.lang-select
{
	cursor: pointer;
	height: 32px;
	margin-right: 40px;
	padding-top: 5px;
	white-space: nowrap;
}
@media screen and (max-width:1023px)
{
	.lang-select
	{
		margin-right: 21px;
	}
}
.lang-select__flag
{
	display: inline-block;
	height: 20px;
	margin-right: 6px;
	vertical-align: bottom;
	width: 30px;
}
.lang-select__flag img
{
	display: block;
	width: 100%;
}
.lang-select__name
{
	color: #999;
	display: inline-block;
	font-size: 17px;
	font-weight: 400;
	line-height: 14px;
	text-transform: uppercase;
	vertical-align: bottom;
}
.modal
{
	max-width: 570px;
	padding: 40px 60px;
	width: 100%;
}
@media screen and (max-width:767px)
{
	.modal
	{
		height: 100%;
		padding: 40px 30px;
	}
}
.modal__list__title
{
	margin-bottom: 30px;
}
@media screen and (max-width:1023px)
{
	.modal__list__title
	{
		margin-bottom: 20px;
	}
}
@media screen and (max-width:767px)
{
	.modal__list__title
	{
		margin-bottom: 30px;
	}
}
.modal__list img
{
	height: 20px;
	margin-right: 20px;
	width: 30px;
}
.modal__list li
{
	color: #262626;
	cursor: pointer;
	display: block;
	font-size: 21px;
	line-height: 30px;
	margin-bottom: 18px;
}
@media screen and (max-width:767px)
{
	.modal__list li
	{
		font-size: 14px;
	}
}
.modal__list li.current
{
	color: #19bb4f;
}
.card-tabs
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
}
.card-tabs__wrapper
{
	align-items: center;
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	ms-flex-align: center;
	webkit-align-items: center;
	webkit-box-align: center;
}
.card-tabs__block
{
	z-index: 50;
}
.card-tabs li
{
	border-bottom: 2px solid transparent;
	color: #262626;
	cursor: pointer;
	flex-grow: 0;
	flex-shrink: 0;
	font-size: 17px;
	font-weight: 400;
	line-height: 24px;
	margin-right: 20px;
	ms-flex-negative: 0;
	ms-flex-positive: 0;
	o-transition: ease-out .15s;
	padding-bottom: 12px!important;
	padding-top: 20px!important;
	transition: ease-out .15s;
	webkit-box-flex: 0;
	webkit-flex-grow: 0;
	webkit-flex-shrink: 0;
	webkit-transition: ease-out .15s;
	white-space: nowrap;
}
.card-tabs li:active,.card-tabs li:focus
{
	o-transition: outline-color 0s;
	outline-color: transparent;
	transition: outline-color 0s;
	webkit-transition: outline-color 0s;
}
.card-tabs li:not(:first-child)
{
	margin-left: 20px;
}
.card-tabs li.is-active
{
	border-color: #000;
	font-weight: 600;
}
.faq
{
	padding-bottom: 60px;
	padding-top: 80px;
}
.faq__row
{
	display: flex;
	display: -ms-flexbox;
	display: -webkit-box;
	display: -webkit-flex;
	justify-content: space-between;
	ms-flex-pack: justify;
	webkit-box-pack: justify;
	webkit-justify-content: space-between;
}
.faq__row>div:first-child
{
	flex: 1 1 calc(100% / 3);
	margin-right: 30px;
	ms-flex: 1 1 calc(100% / 3);
	webkit-box-flex: 1;
	webkit-flex: 1 1 -webkit-calc(100% / 3);
	width: calc(100% / 3);
	width: -webkit-calc(100% / 3);
}
@media screen and (max-width:767px)
{
	.faq__row>div:first-child
	{
		display: none;
	}
}
.faq__row>div:last-child
{
	border-left: 1px solid #dbdbdb;
	flex: 1 1 calc(100% / 3 * 2);
	ms-flex: 1 1 calc(100% / 3 * 2);
	padding-left: 60px;
	webkit-box-flex: 1;
	webkit-flex: 1 1 -webkit-calc(100% / 3 * 2);
	width: calc(100% / 3 * 2);
	width: -webkit-calc(100% / 3 * 2);
}
@media screen and (max-width:767px)
{
	.faq__row>div:last-child
	{
		border-left: none;
		flex: 1 1 100%;
		ms-flex: 1 1 100%;
		padding-left: 0;
		webkit-box-flex: 1;
		webkit-flex: 1 1 100%;
		width: 100%;
	}
}
.faq__questions
{
	border-bottom: 1px solid #dbdbdb;
	margin-bottom: 30px;
	padding-bottom: 30px;
}
.faq__question:not(:first-child)
{
	margin-top: 50px;
}
.faq__anchor
{
	color: #262626;
	font-size: 17px;
	line-height: 24px;
}
@media screen and (max-width:767px)
{
	.answer
	{
		border-bottom: 1px solid #dbdbdb;
		padding-bottom: 30px;
	}
}
.answer:not(:first-child)
{
	margin-top: 60px;
}
@media screen and (max-width:767px)
{
	.answer:not(:first-child)
	{
		margin-top: 0;
		padding-top: 30px;
	}
}
.answer__title
{
	font-size: 28px;
	font-weight: 600;
	line-height: 30px;
}
@media screen and (max-width:767px)
{
	.answer__title
	{
		font-size: 17px;
		line-height: 24px;
	}
}
.answer__text
{
	font-size: 17px;
	line-height: 24px;
	margin-top: 20px;
}
@media screen and (max-width:767px)
{
	.answer__text
	{
		font-size: 14px;
		line-height: 20px;
	}
}
.answer ul
{
	list-style: disc;
	padding-left: 25px;
}
.answer ul li
{
	font-size: 17px;
	line-height: 24px;
	margin-bottom: 10px;
}
@media screen and (max-width:767px)
{
	.answer ul li
	{
		font-size: 14px;
		line-height: 20px;
	}
}
.fancybox-button
{
	cursor: pointer;
}
.fancybox-slide
{
	padding: 0;
}